
body {
  font-family: Arial, sans-serif;
}

.filter {
  margin: 20px;
}

.ev-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ev-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.ev-card img {
  width: 100%;
  border-radius: 10px;
}

.ev-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.ev-card .price {
  font-size: 1.2rem;
  color: green;
}
    